.bsui .geodir-images-slider .embed-responsive {
    height: 100%;
}

.bsui .tab-content>.tab-pane {
    display: none !important;
    opacity: 0;
}

.bsui .tab-content>.tab-pane.active {
    opacity: 1;
    display: block !important;
}

.btn-group.btn-group-sm.gd-list-view-select {
    display: none;
}

#MainBodycontainer h2 a {
    font-size: 19px !important;
    margin-bottom: 10px !important;
    color: #000 !important;
}

ul.pagination {
    justify-content: center !important;
}

#InnerPageContainer {
    padding-top: 215px !important;
}

.copyright {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.wpautoterms-footer {
    padding: 10px 0 !important;
}

select#cat {
    width: 100% !important;
    height: 35px !important;
    border-radius: 3px !important;
    border-color: #9d9d9d !important;
}

.widget.widget_block.widget_media_image img {
    width: 100% !important;
}

.carousel-caption {
    top: 90% !important;
    top: 55% !important;
}

.bsui .carousel-indicators li {
    width: 15px !important;
    border-radius: 50% !important;
    height: 15px !important;
}

.btn-group.btn-group-sm.geodir-sort-by {
    MARGIN-RIGHT: 10PX !important;
    HEIGHT: 40PX !important;
}

.btn-group.btn-group-sm.geodir-sort-by.geodir-loop-event-filter {
    HEIGHT: 40PX !important;
}

.bsui .alert-info {
    opacity: 1 !important;
}

.bsui .embed-item-cover-xy {
    object-position: top !important;
}

.geodir-image-3008.embed-responsive-item.embed-item-cover-xy {
    object-position: unset !important;
}

.geodir-image-2990.embed-responsive-item.embed-item-cover-xy {
    object-position: unset !important;
}

.geodir-pos_navigation a {
    color: #fff !important;
    font-size: 12px !important;
    padding: 10px 12px !important;
}

.geodir-post_right a,
.geodir-post_left a {
    color: #fff !important;
}

.modal-open .modal.show {
    opacity: 1;
}

.geodir-loop-actions-container.bsui.sdel-2ebb15df {
    text-align: right;
}


/* .geodir-loop-actions-container.bsui.sdel-2ebb15df .justify-content-end.mb-3{
    float: right;
} */

.dropdown-menu.dropdown-caret-0,
#geodir-sort-by {
    border-color: #590833 !important;
    color: #590833 !important;
    padding: 0 25px !important;
    height: 35px !important;
}


/* .geodir-category-list-view */

.gd-read-more.gd-read-more-fade {
    background-image: none !important;
    bottom: -48px !important;
    text-align: right !important;
}

.geodir-sell-tickets {
    position: absolute !important;
    bottom: 5px !important;
    width: 96%;
    display: flex !important;
}

#gd_sell_tickets-3 {
    bottom: 0px !important;
    margin-bottom: 16px;
    position: relative !important;
    top: 8px;
    width: 100%;
}

.geodir_post_meta.clear-both.position-relative.geodir-field-post_content {
    margin-bottom: 50px !important;
}

.geodir-sell-tickets .geodir-manage-tickets-btn,
.geodir-sell-tickets .geodir-sell-tickets-btn,
.geodir-sell-tickets .geodir-buy-tickets-btn {
    padding: 8px 10px !important;
    font-size: 14px !important;
    font-weight: 600;
    background-color: #590833 !important;
    border-color: #590833 !important;
}

.geodir-manage-tickets-btn {
    margin-top: 0 !important;
    margin-left: 10px !important;
}

#InnerPageContainer #gd_listings-2 .col.mb-4.gd_place.type-gd_place {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

#MainBodycontainer h2 {
    line-height: 30px !important;
}

.geodir-addtofav {
    position: absolute;
    top: 0;
    right: 10px;
}

.geodir-addtofav i.fas.fa-heart {
    color: #fff !important;
}

.gd-rating-background {
    color: #FFDF00!important;
}

.gd_event .geodir-post-rating.bsui {
    position: absolute;
    top: 30%;
    right: 0;
}

.gd_place .geodir-post-rating.bsui {
    position: absolute;
    top: 35%;
    right: 0;
}

.geodir-output-location.bsui.sdel-cc65ff07 {
    position: absolute;
    top: 34%;
    width: 95%;
    margin: auto;
    right: 9px;
}

.geodir_post_meta.list-group-item.list-group-item-action.geodir-field-event_dates.geodir-schedule-meta.geodir-edate- {
    background-color: #590833;
    padding: 5px 0;
    color: #fff;
}

.gd-new-listing-icon {
    position: absolute;
    top: 15px;
}

.gd-new-listing-icon i.fas.fa-certificate {
    display: none;
}

.geodir-search-container {
    position: relative;
    width: 100vw !important;
    left: calc(-50vw + 50%);
    display: block;
    width: 100%;
    text-align: center;
    background: url(../../../uploads/2017/10/1.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: -95px;
    padding: 120px 0 90px 0;
    margin-bottom: 30px;
}

.geodir-search-container .geodir-search-form-wrapper {
    width: 70%;
    margin: auto;
}

.bsui.gd-badge-meta {
    float: right;
}

.geodir_submit_search {
    background-color: #590833 !important;
    border-color: #590833 !important;
}

.gd-search-field-near i.fas.fa-map-marker-alt.hover-content-original {
    color: #590833;
}

.gd-search-field-search::placeholder,
.gd-search-field-near::placeholder {
    color: #590833 !important;
}

.gd-search-field-search i.fas.fa-search.hover-content-original {
    color: #590833;
}

.bsui .geodir-search .col-auto,
.bsui .geodir-search .flex-fill {
    flex: 25% !important;
}

.gd_event.type-gd_event,
.gd_place.type-gd_place.status-publish,
.gd_place.type-gd_place.status-publish {
    flex: 0 0 33.33% !important;
    max-width: 33.33%!important;
}

#InnerPageContainer .col.mb-4.gd_place.type-gd_place {
    flex: 0 0 33.33% !important;
    max-width: 33.33%!important;
}

#InnerPageContainer .sidebar-gd-event-detail .col.mb-4.gd_place.type-gd_place {
    flex: 100% !important;
    max-width: 100%!important;
}

.sidebar-gd-event-detail .bsui.gd-badge-meta {
    float: none !important;
}

.sidebar-gd-event-detail .bsui.gd-badge-meta .gd-badge.border-0.badge {
    margin-top: 3px !important;
}

.geodir-post-slider .carousel-caption.rounded-bottom {
    display: none !important;
}

.carousel-caption h1 {
    font-size: 50px;
}


/* 8/10/22 updates */

#gd_categories-2 .gd-cptcat-parent.col.mb-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.geodir_event_calendar {
    padding: 0 10px !important;
}

#geodir_event_calendar-2 {
    margin-bottom: 20px !important;
}

#geodir_event_calendar-2,
#gd_output_location-2,
#gd_output_location-3 {
    background: #f1f1f1;
}

.gd-cptcat-gd_place .card {
    box-shadow: none !important;
}

.gd-cptcat-gd_place .card-body {
    border-color: #ccc;
    border: 0!important;
    border-bottom: 1px solid #ccc !important;
    text-align: left !important;
    border-radius: 0 !important;
    padding: 0 !important;
    padding: 10px !important;
}

.gd-cptcat-gd_place {
    background: #f1f1f1 !important;
}

.uwp-login-class .card-body,
.uwp_widget_register .card-body,
.uwp-forgot-class .card-body {
    box-shadow: 0px 0px 12px rgb(0 0 0 / 15%) !important;
    width: 55% !important;
    margin: auto !important;
    border-radius: 10px !important;
}

.gd-cptcat-gd_place .card-body {
    text-align: left !important;
}

.gd-cptcat-gd_place .card {
    box-shadow: none !important;
}

#gd_categories-2 .iconbox.iconsmall {
    margin-right: 14px !important;
}

#gd_categories-2 .gd-cptcat-ul.gd-cptcat-parent.col.mb-4 {
    margin-bottom: 0 !important;
}

.gd-cptcat-gd_place .card-body {
    padding: 10px !important;
}

#gd_categories-2 .card-body .h6 {
    font-size: 15px !important;
}

.geodir_event_calendar {
    padding: 0 20px !important;
}

#gd_output_location-2 .geodir_post_meta.list-group-item.list-group-item-action.geodir-field-event_dates.geodir-schedule-meta.geodir-edate- {
    display: none !important;
}

.type-gd_event .card-img-top {
    margin-bottom: 30px;
}

.overflow_roma {
    padding: 0 !important;
    min-height: 340px;
}

#geodir_event_calendar-2,
#gd_output_location-2,
#gd_output_location-3 {
    background: #f1f1f1;
}

.single-detail-gd_event p.headingtext,
.single-detail-gd_place p.headingtext {
    display: none;
}

#BlogDetailsRight .bsui .embed-responsive {
    height: 100% !important;
}

#BlogDetailsRight .card {
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
}

#BlogDetailsRight .card-body {
    padding: 10px 10px 0 !important;
}

#BlogDetailsRight .geodir_post_meta.clear-both.position-relative.geodir-field-post_content {
    margin-bottom: 30px !important;
}

#BlogDetailsRight .gd_place .geodir-post-rating.bsui {
    top: 41% !important;
}

.modal-content {
    padding: 20px;
}










.smush-detected-img {
    box-shadow: none !important;
}












@media screen and (max-width: 767px) {
    .member-btn {
        top: 90px;
    }
    #InnerPageContainer {
        padding-top: 140px !important;
    }
    .gd_event.type-gd_event,
    .gd_place.type-gd_place.status-publish,
    .gd_place.type-gd_place.status-publish {
        flex: 100% !important;
        max-width: 100% !important;
    }
    #InnerPageContainer .col.mb-4.gd_place.type-gd_place {
        flex: 100% !important;
        max-width: 100% !important;
    }
    .geodir-output-location.bsui.sdel-cc65ff07 {
        top: 40%;
    }
    .geodir-post .card-img-top {
        margin-bottom: 30px !important;
    }
    .geodir-manage-tickets-btn {
        margin-left: 43% !important;
    }
    .geodir-search-container .geodir-search-form-wrapper {
        width: 90%;
    }
    .bsui .geodir-search .col-auto,
    .bsui .geodir-search .flex-fill {
        flex: 100% !important;
    }
    .bsui .geodir-search .col-auto,
    .bsui .geodir-search .flex-fill {
        flex: 100% !important;
    }
    .geodir-search-container {
        background-size: cover;
    }
    .carousel-caption {
        top: 40% !important;
    }
    #BlogDetailsRight .card {
        margin: 0 10px;
    }
    #MainBodycontainer .OurMainServices-Left .thumbnail, #MainBodycontainer .OurMainServices-right .thumbnail {
        width: 90px;
        height: 90px;
    }
}